/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2015, 12:41:30 PM
    Author     : JsMarti
*/

body{
    font-family: sans-serif "Arial";
    color: rgba(43,47,50,0.96);
}

h1, h2, h3 {
    text-align: center;
}

table {
    align-content: center;
    text-align: center;
    margin: auto;
    padding:2%;
    border: double;
}

button{
    font-size: 100%;
    margin: 10% 1% 10% 1%;
    border-radius: 5px; 
    background-color: #fff;
}
    



